$def with(form, msg='')

            <div class="banner">
                <div class="banner-overlay">
                    <p class="banner-quote">
                        <span class="quote-open"></span>
                        Come, join hands with me to bring together
                        <br/>
                        a responsive, accountable and transparent 
                        <br />
                        governance.
                        <br/>
                        It is time we made it easier for us to engage 
                        <br/>
                        with the governments we elect.
                        <br/>
                        <span class="quote-close"></span>
                    </p>
                </div>
            </div> <!-- banner -->
        <span class="span12 line" style="margin-bottom:15px;">&nbsp;</span>
        <div>
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>

        <span class="span12 line">&nbsp;</span>
    <div class="container">
        <div class="row">
            <div class="span4">
                <h4> Stay Connected! </h4>
                <span class="thanks">$:msg</span>
                $if not form.valid:
                    $if form.note:
                        <p class="error">$:form.note</p>
                    $else:
                        <p class="error">Please fix the errors highlighted below:</p>

                <form id="form-stay-connected" method="POST">
                    <span class="error">$:form.name.note</span>
                    <input type='text' placeholder="Name" name="name" value="$:form.name.value"></input>
                    <br/>
                    <span class="error">$:form.email.note</span>
                    <input type='text' placeholder="E-Mail" name="email" value="$:form.email.value"></input>
                    <br/>
                    <span class="error">$:form.phone.note</span>
                    <input type='text' placeholder="Phone" name="phone" style="width:95px;"  value="$:form.phone.value"></input>
                    <span class="error">$:form.pin.note</span>
                    <input type='text' placeholder="PIN Code" name="pin" style="width:95px;" value="$:form.pin.value"></input>
                    <div><input type='checkbox' name="volunteer" id="volunteer" />
                        <label for="volunteer" style="display:inline;">I'd like to volunteer!</label>
                    </div>
                    <div>
                        <span class="error">$:form.donate.note</span>
                        <input type='checkbox' name="donate" id="donate" />
                        <label for="donate" style="display:inline;">I'd like to donate</label>
                        &nbsp;Rs.&nbsp;<input  style="display:inline;width:40px;" name="donate_amt" type='text' placeholder="100" value="$:form.donate_amt.value"/>
                    </div><br/>
                    <input type="submit" value="Keep  me  updated"></input>
                </form>
                <br />
                <h4>Lok Satta updates</h4>
                <div class="fb-like-box" data-href="http://www.facebook.com/loksatta" data-width="280" data-height="600" data-show-faces="true" data-stream="true" data-header="true"></div>
            </div>
            
            <div class="span8">
                <h4>Sridhar's updates</h4>
                <div class="fb-like-box" data-href="http://www.facebook.com/ashwin4mla" data-width="650" data-height="900" data-show-faces="false" data-stream="true" data-header="true"></div>
                
                <!-- <a class="twitter-timeline"  href="https://twitter.com/sridhar4mla"  data-widget-id="313948137788149760">Tweets by @sridhar4mla</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>            -->
            </div>
        </div>
    </div>
        
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h4>About</h4>
                        <ul class="unstyled">
                            <li><a href="#">About Sridhar Pabbisetty</a></li>
                            <li><a href="http://loksatta.org/">Loksatta Party</a></li>
                            <li><a href="http://loksattakarnataka.org/">Loksatta Party - Karnataka</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h4>Follow</h4>
                        <ul class="unstyled">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h4>Important Links</h4>
                        <ul class="unstyled">
                            <li><a href="http://members.loksatta.org/">Membership</a></li>
                            <li><a href="http://loksattakarnataka.org/?page_id=22">Donate</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </footer>

