$def with(form, msg='')

    <div class="container">
        <div style="margin: 0px 0px 10px 0px;">
            <img src="/static/images/banner2.jpg"/>
        </div>

        <div class="row">
            <div class="span8">
                <h4>Sridhar's updates</h4>
                <div class="fb-like-box" data-href="http://www.facebook.com/sridhar4mla" data-width="600" data-height="900" data-show-faces="false" data-stream="true" data-header="true"></div>
            </div>

            <div class="span4">
                <h4>Join the Campaign</h4>
                $if msg:
                    <span class="thanks">$:msg</span>
                $if not form.valid:
                    $if form.note:
                        <p class="error">$:form.note</p>
                    $else:
                        <p class="error">Please fix the errors highlighted below:</p>

                <form id="form-stay-connected" method="POST">
                    <span class="error">$:form.name.note</span>
                    <input type='text' placeholder="Name" name="name" value="$:form.name.value"></input>
                    <br/>
                    <span class="error">$:form.email.note</span>
                    <input type='text' placeholder="E-Mail" name="email" value="$:form.email.value"></input>
                    <br/>
                    <span class="error">$:form.phone.note</span>
                    <input type='text' placeholder="Phone" name="phone" style="width:95px;"  value="$:form.phone.value"></input>
                    <span class="error">$:form.pin.note</span>
                    <input type='text' placeholder="PIN Code" name="pin" style="width:95px;" value="$:form.pin.value"></input>
                    <div><input type='checkbox' name="volunteer" id="volunteer" />
                        <label for="volunteer" style="display:inline;">I'd like to volunteer!</label>
                    </div>
                    <!--
                    <div>
                        <span class="error">$:form.donate.note</span>
                        <input type='checkbox' name="donate" id="donate" />
                        <label for="donate" style="display:inline;">I'd like to donate</label>
                        &nbsp;Rs.&nbsp;<input  style="display:inline;width:40px;" name="donate_amt" type='text' placeholder="100" value="$:form.donate_amt.value"/>
                    </div><br/>
                    -->
                    <input type="submit" value="Join the Campaign"></input>
                </form>
                <h4>Donate to the campaign</h4>
                <div>
                    Transfer Online:
                    <p>
                    A/C Name: Loksatta Party<br/>
                    A/C #: 30855182631<br/>
                    IFS code: SBIN0001731
                    </p>

                    <p>
                    Please write <strong>Sridhar4MLA</strong> in the comments field.
                    </p>

                    <p>
                    After the transfer send your name, contact details, PAN number and 
                    transaction reference number to 
                    <a href="mailto:info@loksattakarnataka.org">info@loksattakarnataka.org</a>.
                    </p>

                    <h4>Or Pay by Cheque</h4>
                    Draw the cheque in favour of <strong>LOKSATTA PARTY</strong> and write <strong>Sridhar4MLA</strong> on the back of the cheque.<br/>
                </div>
                <div>
                    <small>Under 80GGC you will get tax exemption on the donation amount.</small><br/>
                    <small>NOTE: Loksatta accepts donations from INDIAN CITIZENS ONLY.</small><br/>
                </div>
            </div>
        </div>
    </div>
        

