<h1>Issues</h1>

<p>
Sridhar will continue to work on various people friendly and anti-corruption
initiatives as he has been doing successfully in the last 5 years.
</p>

<p>Electing Sridhar Pabbisetty as your MLA will help him better implement the
following fundamental but crisp agenda:</p>

<h4 id="governance">Governance</h4>

<ul>
<li>All Government of Karnataka Services will come under Sakala with a specific time limit and transparent process</li>
<li>Modernization and Simplification of steps undertaken to ensure easier and faster delivery of services by government</li>
</ul>

<h4 id="impetus_to_local_governance">Impetus to Local governance</h4>

<ul>
<li>Greater power to local corporations, municipalities, panchayats, and citizens.</li>
<li>Representative Ward Committees that can oversee local developmental plans.</li>
<li>Assembly Constituency oversight committee that will develop and coordinate plans at the Assembly level. </li>
</ul>

<h4 id="employment_and_small_businesses">Employment and Small Businesses</h4>

<ul>
<li>Job oriented courses for the unemployed and underemployed youths.</li>
<li>Making it easier for Small businesses to operate </li>
</ul>

<h4 id="planned_growth">Planned Growth</h4>

<ul>
<li>Integrated planning and zoning for developing commercial, industrial and residential clusters</li>
<li>Planning Schools, Hospitals and other necessary infrastructure at a reasonable distance</li>
<li>Emphasis on developing tier-2 and tier-3 cities and developing entreprenuerial ecosystems</li>
</ul>

<h4 id="address_corruption_and_bad_governance">Address Corruption and Bad Governance</h4>

<ul>
<li>Enforcing compliance of Section 4.1.a and 4.1.b among all public institutions</li>
<li>Greater Transparency and Accountability and reduced discretion in decision making</li>
</ul>

<h4 id="well_being">Well Being</h4>

<ul>
<li>Reliable and safe public transport</li>
<li>Safety and security of women and senior citizens</li>
<li>Decentralized and scientific waste management</li>
<li>Enforcing the Rule of Law</li>
</ul>


