<h4>Lok Satta - Power to the People </h4>

We believe that governance should revolve around You - the citizen. We believe that
you should receive government services without having to pay a bribe. We believe that
you are entitled to know where your tax money is going. We believe that you should
be recognized for your hard work, not your family name. We believe in promoting
entrepreneurship, not in promoting caste divisions. We believe in great ideas and using
technology to solve our problems; not in free TVs and grinders. We believe in providing
equal opportunities to realize the unfulfilled potential of our people.

Our freedom movement had ordinary people from all walks of life coming together for
the cause of India. Sixty five years later, we still find ourselves in the bottom of world
rankings in poverty, malnutrition and public health. The corrupt and inefficient system
allows food grains to rot away instead of reaching the needy. The system can only
change if our politics change.

Politics has become a spectator sport and it is time we look at politics again as the
vehicle for public service.

Joining politics does not mean you need to contest elections; you can help in many
other ways by using your professional skills, by giving your time and energy for policy
making, public campaigns to create awareness using technology and grass roots work.

<h4> Lok Satta Party Manifesto – Key Points</h4>
<ul>
<li>Strong Lokayukta</li>
<li>Safety for all citizens</li>
<li>Elected ward committees</li>
<li>Local pride and heritage</li>
<li>Strong small businesses</li>
<li>Equality for men and women</li>
<li>Easy access to credit, skills</li>
<li>100% clean politics</li>
</ul>