</p>
<p>Sridhar Pabbisetty, age 34, MBA from IIM Bangalore,
BE Computer Science from Bangalore University has resigned from his
coveted post of Chief Operating Officer of the Centre for Public Policy,
IIM Bangalore to contest for the Hebbal Assembly constituency in the
Karnataka Assembly Elections (MLA) in April/May 2013.
</p>
</br>
<p>
Being actively involved in various initiatives to bring transparency
and accountability in governance over the last five years, Sridhar
understood well the task on hand and how challenges could be
overcome by taking action instead of just complaining about every aspect
of the city administration.
</p>
<img src="/static/images/sridhar.png" style="float:right;"/>
<p>
He chose to lead from the front and decided to start a movement which would
encourage citizens to participate in both the creation and execution of policies that
will improve the efficiency of the government, improve the safety of citizens, promote
gender equality and help eradicate various forms of bribery prevalent in obtaining
services from the government.
</p>
<p>
Sridhar Pabbisetty found all and more of his agenda in Lok Satta Party formed by
the highly accomplished IAS officer Dr. Jayaprakash Narayan (refer Dr.JP and Lok
Satta credentials and accomplishments in the following paragraphs). The Lok Satta
Party is happy to nominate Sridhar Pabbisetty as their MLA candidate from Hebbal
Constituency.
</p>

<br/>
<h4> Credentials and Experience </h4>
<p>
Sridhar Pabbisetty has been working on ‘Inclusive Growth and Improvement of
Governance’ in India for the last 5 years.
</p>
<p>
He was the coordinator of Karnataka Election Watch for the 2008 assembly and 2009
Lok Sabha elections and his efforts led to create awareness among the electorate about
the Economic and Criminal antecedents of Candidates contesting for elections.
</p>
<p>
As the Enterprise Development Specialist at CHF International, he worked on
improving the livelihoods and welfare of the Informal Sector Workers and Decentralized
Solid Waste Management.
</p>
<p>
He has supported interventions to make banking accessible to the informal workers,
improve skill training programs and to make social enterprises sustainable.
</p>
<p>
As the COO of Centre for Public Policy at IIMB, Sridhar has worked on advancing the
research in the areas of inclusive education, enhancing employability and taught various
elected representatives including MLAs and Local Body members as well as various
civil servants on ensuring ‘Transparent and Accountability in Governance’ and bring in a
culture of innovation and continuous improvement in their processes.
</p>
<p>
Sridhar’s focus has been on building and maintaining relationship with all members
in the public policy ecosystem - government, regulatory bodies, industry, opinion
leaders, researchers, partner institutions and foundations that are focused on policy
research.
</p>
<p>
Sridhar Pabbisetty is a regular speaker at various national and international fora on
the issue of ‘Open Governance and Inclusive Growth’.
</p>
<p>
He has been advising Government of Karnataka's Sakala Mission on ensuring
timely delivery of services delivered the state. There are 265 services under Sakala
and over 1.8 Crore service requests have been delivered so far. His continuous
assessments and reports have enabled the mission to fix problems that exist in the
delivery of these services and undertake continuous improvements of the processes
involved in delivery of the services. Two of the services are being reengineered
based on his recommendations - Conversion of Agricultural Land for non Agricultural
purpose and Registration of schools and will take much less time and lesser number of
documents.
</p>
<p>
Sridhar has been advising BESCOM adopting Open Governance. BESCOM now has
a robust practice of voluntary disclosure of data and they can be accessed here -http://
bescom.org/en/4-i-a-2/ and http://bescom.org/en/rti-2/. As part of the Open Governance
initiative BESCOM has now begun a Business Process Reengineering exercise
involving customers who come to get their grievances become partners in simplifying
the process BESCOM follows internally to service their requests.
</p>
<p>
Sridhar specializes in nurturing inclusive enterprises and helps them to develop long
term corporate strategy and build business models with focus on scalability and
sustainability.
</p>
<p>
Earlier he has worked with fast growing hi-tech companies such as ‘Zyme Solutions’
and ‘Aditi Technologies’.
</p>
<p>
Sridhar is a keen observer of Indian Politics and has been the ‘Coordinator of
Karnataka Election Watch (KEW)’ for the Lok Sabha elections in 2009 as well
as ‘Member of the KEW’ in Karnataka Assembly Elections in 2008.
</p>
<p>
Sridhar is also on the Board of ‘NammaCycle’ and ‘Reap Benefit’ and on the panel of
various startup competitions including the ‘Acara Challenge’ and the ‘William James
Foundation's Entrepreneurship Challenge’ focusing on a sustainable and equitable
tomorrow.
</p>